/*
 * Color scheme, made from pywal
 */

body {
	background-color: #000000;
	font-family: 'GohuFont 14 Nerd Font Mono';
	color: #adbab8;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	text-align: center;
}

/* Squares for colorscheme */

.square1 {
	height: 50px;
	background-color: #0B0F0E;
	width: 4.68%;
	text-align: center;
}
.square2 {
	height: 50px;
	background-color: #4A6772;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square3 {
	height: 50px;
	background-color: #65827B;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square4 {
	height: 50px;
	background-color: #2B7186;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square5 {
	height: 50px;
	background-color: #517884;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square6 {
	height: 50px;
	background-color: #378A8F;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square7 {
	height: 50px;
	background-color: #6C9294;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square8 {
	height: 50px;
	background-color: #C0CEC8;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}
.square9{
	height: 50px;
	background-color: #86908C;
	width: 4.68%;
	text-align: center;
    color: #0B0F0E;
}


/* remove default underlining from links */
a:link {
	color: #378A8F;
	text-decoration:none;
}

a:active {
	color: #4A6772;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

a:visited {
	color: #2B7186;
	text-decoration:none
}


/* Bar on the top of screen. Color? */
.topbar {
	margin: 0;
	padding: 10px 1em 10px 1em;
	background-color: #0B0F0E;
}


/* Decision pictures */
.decision {
	text-align:center;
	margin:2em 0 5em 0;
}


/* div-Containers for messy and clean thumbs */
.messy {
	text-align:center;
	margin:2em 0 5em 0;
}

.clean {
	text-align:center;
	margin:5em 0 5em 0;
}


/* Size of messy thumbs -lr left and right -c centered */
.messylr {
	width:25%;
}

.messyc {
	width:30%;
}


/* Size of clean thumbs -lr left and right -c centered */
.cleanlr {
	width:25%;
    padding: 0;
}


/* Size of clean center monitor thumb */
.cleanc {
	width:30%;
    padding: 0;
}

/* div for colorscheme squares */
.colorscheme {
	padding: 0 10em 0 10em;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* Introduction*/
.introduction {
	text-align:justify;
	padding: 0 10em 0 10em;
}

.iterm2 {
	width: 35%;
}

.neovim {
	width: 45%;
}
.code {
	margin: auto;
	width: 90%;
	text-align: justify;
}
.codeheader {
	border: dashed #17120d 2px;
	padding: 5px 1em 5px 1em;
}
.codecontent {
	border: dashed #17120d 2px;
	padding: 1em;
}

.enumeration {
	width: 20%;
	background: #17120d;
}

.spacer {
    height: 1em;
}
