/*
 * Color scheme, made from pywal
 * #17120d
 * #B56D1D
 * #9B4.68
 * #AF702B
 * #96714D
 * #CF962D
 * #CBA551
 * #adbab8
 * #798280
 * #B56D1D
 * #9B4.68
 * #AF702B
 * #96714D
 * #CF962D
 * #CBA551
 * #adbab8
 */

body {
	background-color: #000000;
	font-family: 'GohuFont 14 Nerd Font Mono';
	color: #adbab8;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	text-align: center;
}

/* Squares for colorscheme */

.square17120d {
	height: 50px;
	background-color: #17120d;
	width: 4.68%;
	text-align: center;
}
.squareb56d1d {
	height: 50px;
	background-color: #B56D1D;
	width: 4.68%;
	text-align: center;
}
.square9b6025 {
	height: 50px;
	background-color: #9B6025;
	width: 4.68%;
	text-align: center;
}
.squareaf702b {
	height: 50px;
	background-color: #AF702B;
	width: 4.68%;
	text-align: center;
	color: #17120d;
}
.square96714d {
	height: 50px;
	background-color: #96714d;
	width: 4.68%;
	text-align: center;
	color: #17120d;
}
.squarecf962d {
	height: 50px;
	background-color: #CF962D;
	width: 4.68%;
	text-align: center;
	color: #17120d;
}
.squarecba551 {
	height: 50px;
	background-color: #CBA551;
	width: 4.68%;
	text-align: center;
	color: #17120d;
}
.squareadbab8 {
	height: 50px;
	background-color: #adbab8;
	width: 4.68%;
	text-align: center;
	color: #17120d;
}
.square798280 {
	height: 50px;
	background-color: #798280;
	width: 4.68%;
	text-align: center;
}

/* remove default underlining from links */
a:link {
	color: #CF962D;
	text-decoration:none;
}

a:active {
	color: #AF702B;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

a:visited {
	color: #96714d;
	text-decoration:none
}


/* Bar on the top of screen. Color? */
.topbar {
	margin: 0;
	padding: 10px 1em 10px 1em;
	background-color: #17120d;
}


/* Decision pictures */
.decision {
	text-align:center;
	margin:2em 0 5em 0;
}


/* div-Containers for messy and clean thumbs */
.messy {
	text-align:center;
	margin:2em 0 5em 0;
}

.clean {
	text-align:center;
	margin:5em 0 5em 0;
}


/* Size of messy thumbs -lr left and right -c centered */
.messylr {
	width:25%;
}

.messyc {
	width:30%;
}


/* Size of clean thumbs -lr left and right -c centered */
.cleanlr {
	width:25%;
}


/* Size of clean center monitor thumb */
.cleanc {
	width:30%;
}

/* div for colorscheme squares */
.colorscheme {
	padding: 0 10em 0 10em;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* Introduction*/
.introduction {
	text-align:justify;
	padding: 0 10em 0 10em;
}

.code {
	text-align: left;	
	padding: 1em 10em 1em 10em;
}
.iterm2 {
	width: 35%;
}

.neovim {
	width: 45%;
}
